<div data-role="view" data-title="" data-layout="main" data-model="app.reigister" data-show="app.reigister.onShow" data-after-show="app.reigister.afterShow" >
<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left">
    <img src="imagesDrawer/icon-menu.png" class="drawericon" >
</a>
    <div id="welcomeModel" class="divmain_welcome clock-container">
    </div>
    <div id="welcomeModellogo" >
        <img src="components/welcome/images/icon-home.png"  class="logo_welcome" >
    </div>
</div>