<div data-role="view" data-title="" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow" >
    <div id="main_home" class="div100 bgcolor">
        <table></table>
        
            <img src="images/logo-green-card.png" alt="Green card logo" class="logo">
            <p class="message h1">
                แอปเดียวเขียวทั่วไทย
            </p>
            <img src="images/pic-green-line.jpg"  class="logoline">
        
         
        
    </div>
    
</div>