<div data-role="view" data-title="" data-layout="main" data-model="app.information" data-show="app.information.onShow" data-after-show="app.information.afterShow" >
    <div id = "headerinformation">
        <table class="message tdwidth">
            <tr>
                <td class="left">
                    <a id="Drawer_welcomeModel" data-role="button" href="#appDrawer" data-rel="drawer" data-align="left">
                        <img src="imagesDrawer/icon-menu.png" class="drawericon" >
                    </a>
                </td>
                <td class="right">
                    <span class="point"> คะแนนสะสม  <br></span>
                    <span  class="point" data-bind="text: data" ></span>
                </td>
            </tr>
        </table>
    </div>
    <div id="information_divmain" class="divmain_BIE clock-container">
        <table></table>
    </div>
    <div id="information_BIElogo" class="BIElogodiv">
        <table border="1">
            <tr>
                <td class="BIElogo_tdleft">
                    <img src="components/welcome/images/pic-home-icon02.png" class="BIElogoimg" >
                </td>
                <td style="BIElogo_tdcenter">
                    <img src="components/welcome/images/pic-home-icon01.png" class="BIElogoimg" >
                </td>
                <td class="BIElogo_tdright">
                    <img src="components/welcome/images/pic-home-icon03.png" class="BIElogoimg">
                </td>
            </tr>
        </table>
    </div>
    
</div>